<div class="cadastro-container">
    <h1>Cadastrar Instrutor</h1>
    <form (ngSubmit)="cadastrarInstrutor()">
      <label for="nome">Nome:</label>
      <input
        id="nome"
        [(ngModel)]="instrutor.nome"
        name="nome"
        required
        placeholder="Digite o nome"
      />
  
      <label for="email">E-mail:</label>
      <input
        id="email"
        [(ngModel)]="instrutor.email"
        name="email"
        type="email"
        required
        placeholder="Digite o e-mail"
      />
  
      <label for="contato">Contato:</label>
      <input
        id="contato"
        [(ngModel)]="instrutor.contato"
        name="contato"
        type="tel"
        required
        placeholder="Digite o telefone"
      />
      <button type="submit">Cadastrar</button>
    </form>
  </div>
  