<div class="login-container">
    <h2>Agenda Estúdio Fruto</h2>
    <form (submit)="fazerLogin()">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Digite seu e-mail" required />
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" id="senha" [(ngModel)]="senha" name="senha" placeholder="Digite sua senha" required />
      </div>
      <button type="submit" class="btn-login">Entrar</button>
      <a href="#" class="link-forgot">Esqueceu sua senha?</a>
      <div class="link-forgot">
        <p>Instrutor novo? <a (click)="irParaCadastro()">Faça seu cadastro aqui</a></p>
      </div>
    </form>
  </div>
  